<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命名空间应该是对应接口的包名+接口名 -->
<mapper namespace="com.zhangguo.bookstore.mapper.BookDAO">
    <!--id应该是接口中的方法，结果类型如没有配置别名则应该使用全名称 -->
    <!--获得所有图书 -->
    <select id="getHttpTestResults" resultType="HttpTestResult">
        select id,ResultTitle,ResultContent,ResultPassOrFail from HttpTestResult
    </select>
    <!--获得图书对象通过编号 -->
    <select id="getHttpTestResultById" resultType="HttpTestResult">
        select id,ResultTitle,ResultContent,ResultPassOrFail from HttpTestResult id=#{id}
    </select>
    <!-- 增加 -->
    <insert id="add">
        insert into HttpTestResult(ResultTitle,ResultContent,ResultPassOrFail)
        values(#{ResultTitle},#{ResultContent},#{ResultPassOrFail})
    </insert>
    <!-- 删除 -->
    <delete id="delete">
        delete from HttpTestResult where id=#{id}
    </delete>
    <!-- 更新 -->
    <update id="update">
        update HttpTestResult set ResultTitle=#{ResultTitle},ResultContent=#{ResultContent},ResultPassOrFail=#{ResultPassOrFail}
        where id=#{id}
    </update>
</mapper>